<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>rpi-notifire</title>
    <meta name="viewport" content="width=device-width">
    <!-- CSSファイルを追加 -->
    <link rel="stylesheet" href="/static/app.css">
    <!-- JSファイルを追加 -->
    <script type="text/javascript" src="/static/jquery-3.3.1.min.js"></script>
</head>
<body>
  <div id="hitarea"><p>{{ message }}</p></div>
  <div id="action">{{ action }}</div>
<script type="text/javascript" src="/static/app.js"></script>
</body>
</html>


