<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!-- CSSファイルを追加 -->
    <link rel="stylesheet" href="/static/app.css">
    <!-- JSファイルを追加 -->
    <script type="text/javascript" src="/static/app.js"></script>
</head>
<body>
    <!-- 画像読み込みを追加 -->
    <h1><img src="/static/logo.png"></h1>
    <p>{{ message }}</p>

<div id="button">TOUCH ME</div>
<div id="bTouch">-</div>
<div id="coords">X:<span id="x"></span> Y:<span id="y"></span></div>



</body>
</html>


